**/.idea
**/.DS_Store
**/.envrc
**/__pycache__
**/node_modules
/.vim

dump/
node_modules/
out/

# used for some tests
tmp/ 

zeck.code-workspace
.vscode


.yarn/install-state.gz
yarn-debug.log*
yarn-error.log*
.yarn/cache/@sparticuz-chromium-*
.yarn/cache/turbo-*

# turbo ignores
.turbo
build/**
dist/**
.next/**

# various other ignores
**/vite.config.ts.*.mjs

build-storybook.log
